@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.App {
  text-align: center;
}
body {
  background-color: #ddddff;
}
a {
  text-decoration: none;
  color: black;
}
h1, h2, h3 {
  margin: 0px;
}
.cursive {
  font-family: 'Yellowtail', cursive;
  font-weight: lighter;
}
.normaltext {
  /* font-family: 'Salsa', cursive; */
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
#navcontainer {
  font-family: 'Yellowtail', cursive;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #eeeeff;
  /* border-bottom: solid black; */
  width: 100%;
  display: flex;
  flex-direction: row;
}
#navbox {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  margin: 5px 0px 5px 25px;
}
.navitem {
  margin-right: 20px;
  font-weight: lighter;
}
.navitem:hover, #navname:hover {
  text-decoration: underline;
}
#navnamebox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}
#homecontainer {
  display: flex;
  justify-content: center;
}

/* TEST */
#testcontainer {
  /* border: solid black; */
  width: 100%;
  margin: 100px 50px 75px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* HOME PAGE */
#homeshot {
  width: 350px;
}
#homecontainerbox {
  margin: 100px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homefooter {
  margin: 15px 0px 0px 20px;
}
#hometitle {
  font-size: 60px;
}
#homeheader {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#homename {
  align-self: flex-end;
  margin-right: 25px;
  font-size: 20px;
}
#homemiddle {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
#homeimg {
  margin: 0px 40px 0px 0px;
}
.homeinfobox {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* background-color:	#bbbbfe; */
}
.homeinfo {
  font-size: 32px;
  margin-bottom: 10px;
}
.flexend {
  align-self: flex-end;
}
.center {
  align-self: center;
  font-size: 32px;
  font-weight: bolder;
}

#workcalldivhome {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 45px;
}

#homeicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.socialicon {
  width: 35px;
  height: auto;
  margin-right: 10px;
}
#resumebttn {
  font-size: 30px;
  border-radius: 30%;
  background-color: #aaaafe;
  font-family: 'Yellowtail', cursive;
  padding-bottom: 5px;
  margin-right: 50px;
}
#homeiconbox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}


/* WORK PAGE */
.pagetitle {
  align-self: center;
}
.workimg {
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: block;
}
#workcontainer {
  display: flex;
  flex-direction: row;
}
#weatherbox, #artbox, #progressbox, .boxtrue {
  position: relative;
  /* width: 300px;
  height: 232px; */
  width: 260px;
  height: 200px;
}
.workprogimg {
  /* width: 300px;
  height: 232px; */
  width: 260px;
  height: 200px;
}
/* .boxtrue {
  position: relative;
  width: 300px;
  height: 232px;
} */
.opaque {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  object-fit: cover;
  display: block;
}
.holdwork {
  background-color: #eeeeff;
  /* width: 375px;
  height: 400px; */
  width: 300px;
  height: 375px;
  display: flex; 
  align-items: center;
  flex-direction: column;
}
.workdescription {
  margin: 15px 0px 10px 0px;
}
.technologies {
  font-size: 16px;
}
.worktechnologies {
  margin: 15px 20px 0px 20px;
  display: flex;
  text-align: center;
}
#workheader {
  align-self: center;
  margin-bottom: 50px;
}
#workpage {
  font-size: 40px;
}
#workpagecontainer {
  margin: 100px 0px 75px 0px;
  display: flex;
  flex-direction: column;
}
#holdworkprog {
  margin: 0px 20px;
}
@media screen and (min-width: 1100px) {
  #holdworkprog {
    margin: 0px 50px;
  }
  #weatherbox, #artbox, #progressbox, .boxtrue, .workprogimg {
    width: 300px;
    height: 232px;
  }
  .holdwork {
    width: 350px;
    height: 400px;
  }
}
@media screen and (max-width: 875px) {
  #workcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #holdworkprog {
    margin: 30px 0px 30px 0px;
  }
  #weatherbox, #artbox, #progressbox, .boxtrue, .workprogimg {
    width: 300px;
    height: 232px;
  }
  .holdwork {
    width: 350px;
    height: 400px;
  }
  /* #workpage {
    font-size: 35px;
  } */
  #workheader {
    margin-bottom: 30px;
  }
}


/* CONTACT PAGE */
#form {
  display: flex;
  flex-direction: column;
}
.formlabel {
  font-size: 25px;
  font-family: 'Yellowtail', cursive;
}
input {
  width: 350px;
  height: 30px;
}
#inputname {
  margin-left: 25px;
}
#inputemail {
  margin-left: 22px;
}
#messagelabel {
  margin-top: 20px;
}
#messagediv {
  margin: 10px 0px 25px 0px;
}
#emaildiv {
  margin: 10px 0px 0px 0px;
}
#inputmessage {
  width: 500px;
  height: 300px;
}
#submitbttn {
  font-size: 25px;
  width: 100px;
  padding: 2px 8px 2px 6px;
}
#contactcontainer, #form {
  display: flex;
  justify-content: center;
}
#contactpage {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
#formdescription {
  font-size: 18px;
}
#contactme {
  font-size: 45px;
}

/* ABOUT PAGE  */
#aboutcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abouttitle {
  font-size: 40px;
}
.aboutdescription {
  font-size: 17px;
}
#aboutheader {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 25px 0px;
}
#aboutname {
  font-size: 45px;
}
#aboutpage {
  margin: 5px 10px 0px 0px;
  font-size: 30px;
}
#backgroundbox, #integritybox, #beyondbox {
  background-color: #bbbbfe;
  margin-bottom: 30px;
  padding: 15px 25px 30px 25px;
  display: flex;
  flex-direction: column;
}
.medescription {
  background-color: #eeeeff;
  padding: 15px;
  margin: 10px 0px 0px 0px;
  text-align: center;
}
#socialbackground {
  display: flex; 
  width: 100%;
}
#homeiconbox, #workbttnbox {
  margin-left: auto;
}
#umichlogo {
  width: 160px;
  height: 167px;
  align-self: center;
  margin: 0px 35px 15px 5px;
}
#logodescription {
  display: flex;
  flex-direction: row;
  margin: 15px 15px 10px 0px;
}
#logodiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#integritywork {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px 0px;
}
#workbttn {
  font-size: 25px;
  margin-top: 10px;
  padding: 0px 8px 6px 7px;
}
.resumebttn {
  margin-left: auto;
}

/* #integritydescritionbox {
  margin: 0px 20px 0px 10px;
} */






