@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.techfont {
    font-family: "Share Tech Mono", monospace;
}
.home1 {
    font-size: 150px;
    margin-top: 50px;
}